$color-1 : #FF1818;
$color-2 : #1e8018;
$color-3 : #d3d3d3;
$color-4 : rgb(255, 166, 0);

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
#app{
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-areas: "A B";
}
#main{
    grid-area: B;
}

ul{
   list-style: none;
}