.tirage{
    @include flex-center-column;
    .search{
        min-width: 400px;
        background:$color-4;
        padding: 1rem;
        margin: 10px 0;
        right: 0;
        p{
            margin: 10px 0 0 0;
            font-size: 1rem;
            color: $color-2;
            opacity: 0.9;
        }
        span{
            margin: 10px;
            input[type ="text"]{
                @include input;
                border-radius: 50px 0 0 50px;
                background: $color-3;
                letter-spacing: 0.1rem;
                color: $color-2;
            }
            input[type ="button"]{
               @include input;
               border-radius: 0 50px 50px 0px;
               background: black;
               color: $color-3;
               cursor: pointer;
               &:hover{
                transform: scale(1.1)
               }
               &:active{
                transform: scale(1)
               }
            }
        }
    }

}
.cocktail-contenaire{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    .cocktail-eacth{
        margin: 3px;
        padding: 5px;
        background: $color-3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 0.8rem;
            font-weight: bold;
        }
        h1{
            color: $color-1;
            font-size: 1rem;
            margin: 0;
        }
        .name-contenaire{
            @include flex-center-column;
            align-items: center;
            justify-content: center;
   
        }
        strong{
            color: $color-2;
            text-decoration: underline;
        }
        &:hover{
            transform: scale(1.02);
            background: $color-4;
            h1{
                color: black;
            }
        }
        img{
            width: 150px;
            height: 150px;
            margin: 5px;
        }
    }
   
}
.resultError{
    color: $color-1;
    span{
        font-weight: 100;
        color: $color-4;
        font-size: 1.2rem;
    }
}
//tirage aux hasards
.hasard{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // align-items: center;
    h1{
        color: $color-2;
    }
    .basic{
        background: $color-3;
        padding:0 2rem;
        transition: 0.5s ease-in-out;
        @include flex-center-column;
        strong{
            color: $color-1;
            font-size: 1rem;
            margin: 0;
        }
   
        img{
            width: 400px;
            height: 400px;
            
            left: 50%;
        }
        &:hover{
            background: #000;
            h1,h2,h3{
                color: #fff;
            }
        }
    }
    .ingredient{
        background:$color-4;
        padding: 1rem;
        height: auto;
        h1{
            font-size: 1rem;

            position: relative;
        }
    }
}

